# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
.build/
.env

# Vite / SvelteKit
dist/
dist-ssr/
.vite/
.svelte-kit/
*.local

# OS & Editor garbage
.DS_Store
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# IDEs
.idea/
.vscode/
!.vscode/extensions.json

# Local test data
local-tests/

# Config files
config/
!server-flask/config/

# Cache
__pycache__/